{% extends "base.html" %}

{% block content %}
<div class="images">
{% for img in object_list %}

 <div class="img">
     <a href="{{ img.original_image.url }}">
       <img src="{{ img.original_image.url }}" alt="">
     </a>
     {% if img.resize_image %}
        <a href="{{img.resize_image.url}} " class="resize">Ссилка на оброблене зображення</a>
     {% endif %}
 </div>
{%endfor%}
</div>
{% if is_paginated %}
<div class="pagination">
{% if page_obj.has_previous %}

        <span><a href="?page={{ page_obj.previous_page_number }}">Попередня</a></span>

{% endif %}
        <span>Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.</span>

{% if page_obj.has_next %}
        <span><a href="?page={{ page_obj.next_page_number }}">Наступна</a></span>
{% endif %}
{% else %}
        </div>

{% endif %}
{% endblock %}